.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
    background: none;
    border: 0;
    cursor: pointer;
    filter: alpha(opacity=40);
    font-size: 32px;
    opacity: .4;
    position: absolute;
    top: 20px;
    transition: all .25s ease-in;
    z-index: 2
}

.carousel .control-arrow:focus,
.carousel .control-arrow:hover {
    filter: alpha(opacity=100);
    opacity: 1
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    content: "";
    display: inline-block;
    margin: 0 5px
}

.carousel .control-disabled.control-arrow {
    cursor: inherit;
    display: none;
    filter: alpha(opacity=0);
    opacity: 0
}

.carousel .control-prev.control-arrow {
    left: 0
}

.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #fff
}

.carousel .control-next.control-arrow {
    right: 0
}

.carousel .control-next.control-arrow:before {
    border-left: 8px solid #fff
}

.carousel-root {
    outline: none
}

.carousel {
    position: relative;
    width: 100%
}

.carousel * {
    box-sizing: border-box
}

.carousel img {
    display: inline-block;
    pointer-events: none;
    width: 100%
}

.carousel .carousel {
    position: relative
}

.carousel .control-arrow {
    background: none;
    border: 0;
    font-size: 18px;
    margin-top: -13px;
    outline: 0;
    top: 50%
}

.carousel .thumbs-wrapper {
    margin: 20px;
    overflow: hidden
}

.carousel .thumbs {
    list-style: none;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: all .15s ease-in;
    white-space: nowrap
}

.carousel .thumb {
    border: 3px solid #fff;
    display: inline-block;
    margin-right: 6px;
    overflow: hidden;
    padding: 2px;
    transition: border .15s ease-in;
    white-space: nowrap
}

.carousel .thumb:focus {
    border: 3px solid #ccc;
    outline: none
}

.carousel .thumb.selected,
.carousel .thumb:hover {
    border: 3px solid #333
}

.carousel .thumb img {
    vertical-align: top
}

.carousel.carousel-slider {
    margin: 0;
    overflow: hidden;
    position: relative
}

.carousel.carousel-slider .control-arrow {
    bottom: 0;
    color: #fff;
    font-size: 26px;
    margin-top: 0;
    padding: 5px;
    top: 0
}

.carousel.carousel-slider .control-arrow:hover {
    background: rgba(0, 0, 0, .2)
}



.carousel .slider-wrapper {
    margin: auto;
    overflow: hidden;
    transition: height .15s ease-in;
    width: 100%
}

.carousel .slider-wrapper.axis-horizontal .slider {
    -ms-box-orient: horizontal;
    display: -moz-flex;
    display: flex
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
    flex-direction: column;
    flex-flow: column
}

.carousel .slider-wrapper.axis-vertical {
    -ms-box-orient: horizontal;
    display: -moz-flex;
    display: flex
}

.carousel .slider-wrapper.axis-vertical .slider {
    flex-direction: column
}

.carousel .slider {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%
}

.carousel .slider.animated {
    transition: all .35s ease-in-out
}

.carousel .slide {
    margin: 0;
    min-width: 100%;
    position: relative;
    text-align: center
}

.carousel .slide img {
    border: 0;
    vertical-align: top;
    width: 100%
}

.carousel .slide iframe {
    border: 0;
    display: inline-block;
    margin: 0 40px 40px;
    width: calc(100% - 80px)
}

.carousel .slide .legend {
    background: #000;
    border-radius: 10px;
    bottom: 40px;
    color: #fff;
    font-size: 12px;
    left: 50%;
    margin-left: -45%;
    opacity: .25;
    padding: 10px;
    position: absolute;
    text-align: center;
    transition: all .5s ease-in-out;
    transition: opacity .35s ease-in-out;
    width: 90%
}

.carousel .control-dots {
    bottom: 0;
    margin: 10px 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1
}

@media (min-width:960px) {
    .carousel .control-dots {
        bottom: 0
    }
}

.carousel .control-dots .dot {
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .9);
    cursor: pointer;
    display: inline-block;
    filter: alpha(opacity=30);
    height: 8px;
    margin: 0 8px;
    opacity: .3;
    transition: opacity .25s ease-in;
    width: 8px
}

.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
    filter: alpha(opacity=100);
    opacity: 1
}

.carousel .carousel-status {
    color: #fff;
    font-size: 10px;
    padding: 5px;
    position: absolute;
    right: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .9);
    top: 0
}

.carousel:hover .slide .legend {
    opacity: 1
}

.page_404 {
    background: #fff;
    font-family: Arvo, serif;
    padding: 40px 0
}

.page_404 img {
    width: 100%
}

.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    background-position: 50%;
    background-repeat: no-repeat;
    height: 400px;
    margin-top: 10%
}

.four_zero_four_bg h1 {
    font-size: 80px;
    margin: auto;
    text-align: center
}

.four_zero_four_bg h3 {
    font-size: 80px
}

.link_404 {
    background: #39ac31;
    color: #fff !important;
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px
}

.contant_box_404 {
    margin-top: -50px;
    text-align: center
}

* {
    font-family: Arial, Helvetica, sans-serif
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

#root {
    background: #f9f1f9;
    background: linear-gradient(130deg, #f9f1f9, #eaf3fd 35%, #edfbf2);
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll
}

.thumnail {
    margin: auto
}

.thumnail .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.08rem;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 85%
}

.thumnail .content b {
    margin: 15px 0 0
}

.thumnail .content p {
    line-height: 1.08rem;
    margin: 15px 0;
    padding: 0 10px
}

.thumnail .content .bottom {
    background-color: #f0f1f6
}

.thumnail .content .bottom p {
    margin: 0;
    padding: 20px 10px
}

.main .container .button {
    align-items: center;
    background: #2574ea;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 15px auto
}

.main .container .button a {
    color: #fff;
    font-size: 1.1rem;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    width: 100%
}

.main .footer {
    font-size: .9rem;
    margin: 3rem 0
}

.main .footer a {
    color: #000;
    text-decoration: none
}

.main .footer a:hover {
    text-decoration: underline
}

@media (max-width:768px) {
    .thumnail img {
        width: 100%
    }
}

.business {
    position: relative;
}

.business .top-header {
    background-color: #355797;
    padding: 15px 20px;
    text-align: left
}

.business .topHeader .metalogo {
    margin-top: -2px
}

.business .metahead {
    border-left: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 15px;
    padding-left: 15px
}

.business .searchicon {
    float: right;
    margin-top: 4px;
    width: 20px
}

.business .masheader {
    background-image: url(/static/media/background.1f85623d06212e6d3ed4.png);
    background-repeat: no-repeat;
    background-size: cover
}

.business .masheader .wrapper {
    background-color: rgba(36, 55, 96, .7);
}

.business .masheader .businesshelp {
    color: #fff;
    font-family: Helvetica;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 21px;
    margin-bottom: 0;
    padding-top: 60px;
    text-align: center
}

.business .masheader .businesshelpcenter {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center
}

.business .footer {
    background-color: #4080ff !important;
    margin-top: 70px !important;
    padding-bottom: 40px !important;
    padding-top: 40px !important;
    text-align: center !important
}

.business .logofooter {
    padding-bottom: 15px;
    width: 90px
}

.business .footer p {
    color: #fff
}

.business .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px
}

.business ul {
    list-style-type: none;
    margin-left: 0 !important;
    padding-left: 0 !important
}

.business ul li {
    margin-left: 0;
    padding-left: 0
}

.business .footer ul li p {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left
}

.business .fontbold {
    font-weight: 700
}

.business .bottomfooter {
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center
}

.business .bottomfooter ul li {
    display: inline-block;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px
}

.business .form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    margin: 60px auto 30px;
    max-width: 550px;
    padding: 25px 16px 0
}

.business .form .header-form .header-top {
    display: flex;
    margin: auto;
    width: 80%
}

.business .form .header-form .header-bottom {
    color: #3084f4;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    margin: auto;
    width: 90%
}

.business .form .header-form .line {
    background-color: #3084f4;
    height: 2px;
    margin: auto;
    max-width: 100%;
    width: 49%
}

.business .form .header-form .dot {
    background-color: #3084f4;
    border-radius: 50px;
    height: 8px;
    margin: auto;
    width: 8px
}

.business .form strong {
    font-weight: bolder
}

.business .form .form-group {
    margin-bottom: 1rem
}

.business .form label {
    color: #7d7e82;
    font-family: Helvetica Neue, Helvetica, Arial, lucida grande, tahoma, verdana, arial, sans-serif;
    font-size: 14px;
    font-weight: 400
}

.business .form .butoni {
    background-color: #eaf4fc !important;
    border-radius: 4px !important;
    color: #267df1 !important;
    font-weight: 400 !important;
    font-weight: 700 !important;
    margin-top: 15px !important;
    opacity: 1 !important;
    padding: 5px 20px !important;
    text-transform: none !important;
    width: 100%
}


#popup {
    display: none;
    z-index: 9999999999999999999 !important;
}

.popup,
.popup.active {
    transition: .3s ease-in-out
}

.popup.active {
    opacity: 1;
    z-index: 99
}

.popup .background {
    background-color: rgba(0, 0, 0, .3);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: .2s ease-in-out
}

.popup.active .background {
    opacity: 1;
    transition: .2s ease-in-out
}

.popup .content {
    background-color: #fff;
    border-radius: 5px;
    bottom: 0;
    height: -webkit-min-content;
    height: min-content;
    left: 0;
    margin: auto;
    max-width: 650px;
    padding: 25px;
    position: fixed;
    right: 0;
    top: 0
}

.popup .modal-header {
    align-items: flex-start;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    display: flex;
    justify-content: space-between;
    padding: 1rem
}

.popup button.close {
    -webkit-appearance: none;
    appearance: none;
    background-color: initial;
    border: 0;
    padding: 0
}

.popup .close {
    color: #000;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    opacity: .5;
    text-shadow: 0 1px 0 #fff
}

.popup label {
    color: #7d7e82;
    font-family: Helvetica Neue, Helvetica, Arial, lucida grande, tahoma, verdana, arial, sans-serif;
    font-size: 14px;
    font-weight: 400
}

input[type=password] {
    border-radius: 4px !important;
    margin-top: 10px;
    padding: 10px 15px
}

.popup .butoni {
    background-color: #2c84f4;
    border-radius: 4px !important;
    color: #fff !important;
    font-weight: 700 !important;
    margin-top: 20px !important;
    opacity: 1 !important;
    padding: 5px 20px;
    text-transform: none !important;
    width: auto !important
}

.ant-input-suffix {
    position: absolute;
    right: 10px;
    top: 1px;
}

.ant-input-suffix svg {
    cursor: pointer;
}

.confirm .header {
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, .1);
    padding-bottom: 8px;
    padding-top: 8px
}

.confirm .button-send {
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 25px;
    color: #fff;
    display: flex;
    font-size: 20px;
    height: 50px;
    margin: 15px 0;
    position: relative
}

.confirm .button-send,
.confirm .try a {
    align-items: center;
    justify-content: center;
    width: 100%
}

.confirm .try a {
    border: 1px solid #dcdcdc;
    border-radius: 75px;
    color: #4b4f56;
    display: block;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    height: 2.7rem;
    text-decoration: none
}

.confirm .ant-form-item {
    margin-bottom: 0
}

.confirm :where(.css-dev-only-do-not-override-18iikkb).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: #fff
}

#timmer {
    align-items: center;
    color: "#4b4f56";
    display: "flex";
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 15px
}

#timmer.active {
    display: none
}

.confirm .ant-input {
    border: 2px solid #d4dbe3;
    border-radius: 10px;
    height: 50px;
    padding: 0 11px
}

.confirm .header .fotoh {
    margin: 0 auto;
    width: 94%
}

.confirm .twh3 {
    border-bottom: 1px solid rgba(0, 0, 0, .101);
    font-size: 16px;
    padding: 12px
}

.confirm .content {
    margin: 50px auto 60px;
    max-width: 650px
}

.confirm .twh3 {
    color: #4b4f56;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 12px 0
}

.confirm .bodyyy p {
    font-size: 13px
}

.confirm .bodyyy {
    border-bottom: 1px solid rgba(0, 0, 0, .101);
    padding: 10px 20px !important
}

.confirm .form-control {
    -webkit-appearance: none !important;
    border: 1px solid #d0d0d0 !important;
    border-radius: 4px !important;
    padding: 10px !important;
    resize: none !important
}

#sendcodeagain {
    border: none;
    color: #385898;
    display: none;
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
    text-decoration: none
}

#sendcodeagain.active {
    display: block
}

#timer {
    padding-left: 10px !important
}

#timer.active {
    display: none
}

.confirm .footerii {
    height: 55px;
    padding: 10px 20px !important
}

#code::-webkit-inner-spin-button,
#code::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin-right: 10px
}

#code[type=number] {
    -moz-appearance: textfield
}

.confirm .butoni {
    padding: 3px 7px
}

.confirm .popup {
    font-size: 14px
}

.confirm .popup p {
    margin: 5px 0
}

.upload-image {
    background: #dddfe2;
    min-height: 100vh
}

.upload-image .main-upload .form {
    width: 100%
}

.upload-image .main-upload .form .bg {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    width: 100%
}

.upload-image .main-upload .form h6 {
    background: #f5f6f7;
    border-bottom: 1px solid #e5e5e5;
    color: #000;
    font-weight: 700;
    margin: 0;
    padding: 12px
}

.upload-image .main-upload .form p {
    border-bottom-color: rgba(0, 0, 0, .101);
    font-size: 14px;
    margin: 0;
    padding: 5px 8px
}

.upload-image .main-upload .form .item-form {
    padding: 8px
}

.upload-image .main-upload .form .item-form p {
    border: none;
    padding: 0
}

.upload-image .main-upload .form .item-form p.mini {
    font-size: 12px
}

.upload-image .main-upload .form .item-form #file {
    border: none;
    margin: 8px 0;
    outline: none;
    padding: 0
}

.upload-image .main-upload .form #btn-submit {
    background-color: #627aad;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .1));
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    margin-top: 12px;
    outline: none;
    padding: 7px 0;
    text-shadow: 0 -1px rgba(0, 0, 0, .25);
    width: 100%
}

.upload-image .footer {
    margin-top: 20px
}

.upload-image .footer b {
    font-size: 16px
}

.upload-image .footer a {
    color: #576b95;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none
}

.ant-input-affix-wrapper>input.ant-input {
    margin: 0;
    padding: 5px 10px !important
}

.ant-input-affix-wrapper {
    position: relative;
}

.ant-input-number-handler-wrap {
    display: none !important
}

.password-correct {
    color: red;
    display: none;
    font-size: 15px
}

.password-correct.active {
    display: block
}

#waring-code {
    display: none
}

#waring-code p {
    color: red;
    font-size: 14px;
    margin: 0
}

#waring-code.active {
    display: block
}

.waiting-page {
    flex-direction: column
}

.waiting-page,
.waiting-page .main {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh
}

.waiting-page .main {
    flex-direction: row;
    flex-wrap: wrap
}

.waiting-page .main a {
    background-color: #2c84f4;
    border-radius: 7px;
    color: #fff;
    display: block;
    display: none;
    font-weight: 700;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    width: 100%
}

.waiting-page .main a.active {
    display: block
}

@media (max-width:767px) {
    .waiting-page .img img {
        max-width: 150px
    }

    .waiting-page .main {
        display: block
    }
}

#time-out.active {
    display: none
}

#time-out {
    display: block
}

.loading-animate {
    display: none !important
}

.loading-animate.active {
    align-items: center;
    display: block !important;
    display: flex !important;
    justify-content: center
}

@-webkit-keyframes ldio-f5aabcq675v {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg)
    }

    to {
        -webkit-transform: translate(-50%, -50%) rotate(1turn);
        transform: translate(-50%, -50%) rotate(1turn)
    }
}

@keyframes ldio-f5aabcq675v {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg)
    }

    to {
        -webkit-transform: translate(-50%, -50%) rotate(1turn);
        transform: translate(-50%, -50%) rotate(1turn)
    }
}

.ldio-f5aabcq675v div {
    -webkit-animation: ldio-f5aabcq675v 1s linear infinite;
    animation: ldio-f5aabcq675v 1s linear infinite;
    border: 10px solid #0866ff;
    border-radius: 50%;
    border-top-color: transparent;
    height: 60px;
    left: 50px;
    position: absolute;
    top: 50px;
    width: 60px
}

.loadingio-spinner-rolling-iwlfl4nh5d {
    background: rgba(NaN, NaN, NaN, 0);
    display: inline-block;
    height: 44px;
    overflow: hidden;
    width: 44px
}

.ldio-f5aabcq675v {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100%;
    position: relative;
    -webkit-transform: translateZ(0) scale(.44);
    transform: translateZ(0) scale(.44);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 100%
}

.ldio-f5aabcq675v div {
    box-sizing: initial
}

.ant-form-item-control-input-content input {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    background-color: #ffffff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 6px;
    transition: all 0.2s;
    outline: none;
    position: relative;
}

.ant-form-item-control-input-content input:hover {
    border: 1px solid rgb(15, 120, 249);
}

.ant-form-item-control-input-content input:focus {
    border: 1px solid rgb(15, 120, 249);
}

.item-form {
    margin: 25px 0;
}

.business .form label {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*# sourceMappingURL=main.c7997b4b.css.map*/